Source: python-venv-gui
Section: utils
Priority: optional
Maintainer: krafairus <krafairuspc@gmail.com>
Uploaders:
  krafairus <krafairuspc@gmail.com>
Build-Depends: debhelper , debhelper-compat (= 13), dh-python, python3-all, pyqt5-dev-tools
Standards-Version: 4.5.0
Homepage: https://github.com/krafairus/python-venv-gui

Package: python-venv-gui
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3, xdg-utils, python3-venv
Description: Crear Entornos Virtuales(venv) De Python.
